body{
    background: #4e3a1d;
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    display: flex;
    flex-direction:column;
}


header{
    font-weight: 900;
    font-size: 24px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #4e3a1d;
}

ul{
    list-style: none;
    display: flex;
    gap: 16px;
}

a:link{
    text-decoration: none;
}

a:hover{
    font-style: italic;
    background: chocolate;
    border-radius: 8px;
    width: 100vh;
    height: 100vh;
}

button:hover{
    text-decoration: underline;
}

a{
    color: rgb(255, 255, 255);
}


.hero{
    display: flex;
    justify-content: space-evenly;
}




.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
   

}

.hero-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.goombella-img {
    height: 420px;
    width: auto;
    padding: 32px;
}

.goomba-img{
    height: 100px;
    width: 160px;
    border: solid 8px brown;
    border-radius: 10px;
    
}

button{
    border-radius: 8px;
    height: 80px;
    width: 300px;
    font-size: 18px;
    background-color: orange;
    color: #3f2908;
    
}

h1{
    font-size: 48px;
    
}

h4{
    font-size: 18px;
}

.middle{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;

    align-items: flex-start;
    color: #3f2908;
    background-color: peachpuff;
    height: 900px;
}

.info-header{
    font-size: 36px;
    font-weight: bolder;
}

.goomba{
    display: flex;
    
}

