body{
    background: #4e3a1d;
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    display: flex;
    flex-direction:column;
}


header{
    font-weight: 900;
    font-size: 24px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #4e3a1d;
}

ul{
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a:link{
    text-decoration: none;
}

a:hover{
    font-style: italic;
    background: chocolate;
    font-weight: 700;
    border-radius: 16px;
    
    
}

button:hover{
    text-decoration: underline;
}

a{
    color: rgb(255, 255, 255);
}


.hero{
    display: flex;
    justify-content: space-evenly;
}




.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
   

}

.hero-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.goombella-img {
    height: 420px;
    width: auto;
    padding: 32px;
}

.goomba-img{
    height: 100px;
    width: 160px;
    border: solid 8px brown;
    border-radius: 10px;
    
}

button{
    border-radius: 8px;
    height: 80px;
    width: 300px;
    font-size: 18px;
    background-color: orange;
    color: #3f2908;
    flex-shrink: 0;
    
}

h1{
    font-size: 48px;
    
}

h4{
    font-size: 18px;
}

.middle-container{
    color: #3f2908;
    background-color: peachpuff;
    padding-bottom: 70px;
}

.goomba-container{
    display: flex;
    justify-content: center;
    align-self: center;
    font-weight: 500;
    font-size: 18px;
    flex-wrap: wrap;
    text-align: center;
    
}
.goomba{
    max-width: 250px;
}


.info-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 150px;
    font-size: 36px;
    font-weight: bolder;
    
}

.middle2{
    background: rgb(192, 150, 112);
    
}

.quote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.quote{
    width: 700px;
    font-size: 36px;
    font-style: italic;
    text-align: start;
}

.bowser-img{
    width: 60px;
    height: 60px;

}

h2{
    display: flex;
    align-self: flex-end;
    
}
